img{
    width: 35%;
    height: 250px;
}
body{
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.header-wrapper{
    width: 100%;
    height: 90vh;
    background-image: url(https://cdn.pixabay.com/photo/2018/07/31/14/09/young-people-3575167_960_720.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.nav h4{
    float: left;
    font-weight: 400;
    margin-left: 30px;
}
.nav h5{
    float: right;
    font-weight: 400;
    margin-right: 30px;
}
.nav .light-text{
    font-weight: 200;
    font-size: 13px;
}
.nav span{
    padding-right: 10px;
}

/* banner start */
.banner-text{
    width: 50%;
    margin:0 auto;
    text-align: center;
    position: relative;
    top: 30px;
}
.banner-text hr{
    width: 50%;
}
.banner-text p{
    font-weight: 200;
    letter-spacing: 4px;
}
.banner-text h1{
    font-size: 120px;
    font-weight: 300;
    margin-top: 5px;
}
/* banner ends */
/* two secton start */
.full-wrapper{
    width: 100%;
    padding: 80px 0;
    background-color: #dfdfdf;
}
.full-wrapper .fixed-width{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.two-section .fixed-width .left{
    float: left;
    width: 40%;
    background-color: #fff;
    padding bottom: 50px;
}
.two-section .fixed-width .right{
    float: right;
    width: 40%;
    background-color: #fff;
    padding bottom: 50px;
}
.two-section img{
    width: 100%;
}
.two-section h6{
    letter-spacing: 3px;
    color: gray;
    font-weight: 300;
    margin-bottom: 8px;
}
.two-section hr{
    width: 40%;
    margin: 0 auto;
    color: gray;
    height: 0.5px;
}
.two-section h3{
    font-size: 25px;
    font-weight: 300;
    margin-top: 8px;
}
.align-left{
    text-align: left;
    padding: 0 30px;
    font-size: 15px;
    color: gray;
}
.two-section button{
    width: 150px;
    height: 40px;
    background: none;
    margin-top: 30px;
    border: 2px solid #dfdfdf;
}

/* two secton ends */

/* quote starts */
.full-quote{
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_960_720.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}
.full-quote p{
    letter-spacing: 4px;
    font-size: 13px;
}
.full-quote hr{
    width: 35%;
}
.full-quote h5{
    font-size: 30px;
    font-weight: 300;
    margin: 20px 0;
}
/* quote ends */
/* four images start */
.four-images img{
    width: 45%;
    float: left;
    margin-bottom: 5%;
    border: 10px solid #fff;
}
.four-images .left{
    margin-left: 5%;
}
/* four images ends */
/* footer starts */
.footer-full{
    background-color: #000;
    color: gray;
}
footer{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
footer .fab{
    font-size: 25px;
    padding: 10px;

}
/* footer ends */

/* media query starts */
@media(max-width:900px)
{
    .banner-text h1{
        font-size: 80px;
    }
    .two-section .fixed-width .left{
        width: 100%;
        padding-bottom: 50px;
        margin-left: 0px;
    }
    .two-section .fixed-width .right{
        width: 100%;
        padding-bottom: 50px;
        margin-right: 0px;
    }
    .four-images img{
        width: 100%;
        clear: both;
    }
    .four-images .left{
        margin-left: 0px;
    }
}
/* media query ends */
@media(max-width:450px)
{
    .banner-text{
        font-size: 40px;
    }
}
